<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Transition Carrière IA" />
    <meta name="keywords" content="Transition Carrière IA, Transition Carrière, IA, Transition, Carrière" />
    <meta name="author" content="France Transition Carrière" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="../../inertia/assets/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../../inertia/assets/images/favicon-16x16.png" sizes="16x16" />
    <link rel="apple-touch-icon" href="../../inertia/assets/images/apple-touch-icon.png" />
    <link rel="manifest" href="../../inertia/assets/images/site.webmanifest" />
    <link rel="mask-icon" href="../../inertia/assets/images/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="google-site-verification" content="google-site-verification" />

    <title inertia>
      Transition Carrière IA
    </title>

    @stack('dumper')
    @viteReactRefresh()
    @inertiaHead()
    @vite(['inertia/app.tsx', `inertia/pages/${page.component}.tsx`])
  </head>

  <body class="min-h-screen w-screen font-sans">
    @inertia()
  </body>

</html>
