<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Transition Carrière IA" />
    <meta name="keywords" content="Transition Carrière IA, Transition Carrière, IA, Transition, Carrière" />
    <meta name="author" content="France Transition Carrière" />
    <meta name="robots" content="{{ seo.robots() }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    @if(seo.googleSiteVerification())
      <meta name="google-site-verification" content="{{ seo.googleSiteVerification() }}" />
    @end

    <title inertia>
      Transition Carrière IA
    </title>

    @stack('dumper')
    @viteReactRefresh()
    @inertiaHead()
    @vite(['inertia/app.tsx', `inertia/pages/${page.component}.tsx`])
  </head>

  <body class="min-h-screen w-screen font-sans">
    @inertia()
  </body>

</html>
