TZ=UTC+2
PORT=3333
HOST=localhost
LOG_LEVEL=
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

QUEUE_DRIVER=
DB_CONNECTION=

# Mail
MAIL_PROVIDER=
RESEND_API_KEY=
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=

# AI
MISTRAL_API_KEY=
VITE_MISTRAL_API_KEY=
AI_PROVIDER=
VITE_AI_PROVIDER=

# Admin
ADMIN_PASSWORD=
